<div class="row">
  <div class="col-xs-4">
    <img src="{{ portrait }}" alt="" class="img-responsive">
  </div>
  <div class="col-xs-8">
    <p><strong>{{ job }}</strong></p>
    <p><strong>{{ company }}</strong>, {{ location }}</p>
    <blockquote>
      <p>{{ blockquote }}</p>
    </blockquote>
  </div>
</div>
