<div class="row marketing">
  <div class="col-xs-3">
    <img src="{{ portrait }}" alt="" class="img-responsive">
  </div>
  <div class="col-xs-9">
    <p><strong>{{ job }}</strong></p>
    <p><strong>{{ company }}</strong>, {{ location }}</p>
    <p class="text-justify">{{ blockquote }}</p>
  </div>
</div>
