<div class="row marketing">
  <div class="col-xs-3">
    <a href="{{ portrait.file.url }}" data-lightbox="portrait" data-title="">
      <img src="{{ portrait.file.url }}" alt="portrait.title" title="portrait.title" class="img-thumbnail" />
    </a>
  </div>
  <div class="col-xs-9">
    <p><strong>{{ job }}</strong></p>
    <p><strong>{{ company }}</strong>, {{ location }}</p>
    <p class="text-justify">{{ blockquote }}</p>
  </div>
</div>
