<div>
  <ul class="nav nav-tabs" role="tablist">
    {% for area, label in {'professional': 'Beruflich', 'private': 'Privat'} %}
      <li style="width:50%;" role="presentation"{% if loop.index === 1 %} class="active"{% endif %}><a href="#{{ area }}" aria-controls="{{ area }}" role="tab" data-toggle="tab">{{ label }}</a></li>
    {% endfor %}
  </ul>
  <div class="tab-content">
    {% for area in ['professional', 'private'] %}
      <div role="tabpanel" class="tab-pane{% if loop.index === 1 %} active{% endif %}" id="{{ area }}">
        {% for reference in references[area] %}
          <div class="row marketing">
            <div class="col-md-3">
              <a href="{{ reference.image }}" data-lightbox="references-{{ area }}" data-title="{{ reference.title }}">
                <img src="{{ reference.thumbnail }}" alt="" class="img-thumbnail" />
              </a>
            </div>
            <div class="col-md-9">
              <h4>{{ reference.title }}</h4>
              <p class="text-justify">{{ reference.description|raw }}</p>
              {% if reference.url %}<small><a href="{{ reference.url }}" target="_blank">{{ reference.url }}</a></small>{% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</div>
<hr>
