<div class="row marketing">
  <div class="col-md-3">
    <a href="{{ image }}" data-lightbox="references" data-title="{{ title }}">
      <img src="{{ thumbnail }}" alt="" class="img-thumbnail" />
    </a>
  </div>
  <div class="col-md-9">
    <h4>{{ title }}</h4>
    <p class="text-justify">{{ description }}</p>
    <small><a href="{{ url }}" target="_blank">{{ link }}</a></small>
  </div>
</div>
